<html>
    <head>
        <title>4320 Final Project - Trip Reservation System</title>
    </head>
    <body>
        <center>
        <h1>IT-4320 Final Project - Trip Reservation System</h1>
        <p>Welcome to the final project for Scrum Team 8. Would you like to reserve a seat or check the reservation data as an admin?  </p>
        <a href="{{ url_for("login") }}">Admin Login</a>
        <p>  </p>
        <a href="{{ url_for("reservation") }}">Make a Reservation</a>
        </center>
    </body>

</html>