<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Make Reservation</title>
</head>
<body>
    <div class=box>
    <h1>Make Reservation</h1>
    <form method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required><br>
        <label for="seat_row">Seat Row:</label>
        <input type="number" name="seat_row" min="0" max="11" required><br>
        <label for="seat_column">Seat Column:</label>
        <input type="number" name="seat_column" min="0" max="3" required><br>
        <button type="submit">Reserve Seat</button>
    </form>
    <a href="{{ url_for('seating_chart') }}">View Seating Chart</a>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <a href="{{ url_for('home') }}">Home</a>
    </div>
</body>
</html>
